<html>
<h1> I'VE GOT THOSE GIFs! </h1>
<h6> And yes I suck at html </h6>
<form action="" method="POST">
  <input type="submit" name="submit" value="Trending">
  <br>
  <br>
  <input type="text" name="searchstring" placeholder="Default: Aman">
  <input type="submit" name="submit" value="Search">
  <br>
  <br>
  <input type="text" name="phrase" placeholder="*Default: Aman">
  <input type="submit" name="submit" value="Translate">
  <br>
  <br>
  <input type="text" name="rantag" placeholder="category**">
  <input type="submit" name="submit" value="Random">
</form>

Footnote: think of TRANSLATE as a "smart search"
<br>
Footnote(2): for the random search, you can specify a category! or not(search through the whole database)


<h5> Beta Version 0.1 </h5>
{{t}}
</html>
